# Basic Recommender System

## Libraries 

1. Pandas 
2. Sci-Kit Learn

In [24]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [2]:
!ls -1

Basic Recommender System.ipynb
books.csv
movies.csv

In [3]:
df = pd.read_csv('movies.csv')

In [4]:
df.shape

(9742, 3)

In [5]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
df.loc[df['movieId'] == 5349, 'title'].iloc(0)[0]

'Spider-Man (2002)'

In [16]:
important_features = []

for i in range(0, df.shape[0]):
    important_features.append(str(df['movieId'][i]) + ' ' + df['title'][i] + ' ' + df['genres'][i])

In [18]:
important_features[:5]

['1 Toy Story (1995) Adventure|Animation|Children|Comedy|Fantasy',
 '2 Jumanji (1995) Adventure|Children|Fantasy',
 '3 Grumpier Old Men (1995) Comedy|Romance',
 '4 Waiting to Exhale (1995) Comedy|Drama|Romance',
 '5 Father of the Bride Part II (1995) Comedy']

In [19]:
df['important_features'] = important_features

In [21]:
df.head()

,movieId,title,genres,important_features
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1 Toy Story (1995) Adventure|Animation|Childre...
1,2,Jumanji (1995),Adventure|Children|Fantasy,2 Jumanji (1995) Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,3 Grumpier Old Men (1995) Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,4 Waiting to Exhale (1995) Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy,5 Father of the Bride Part II (1995) Comedy

In [22]:
vectorized_data = CountVectorizer().fit_transform(df['important_features'])

In [27]:
recommender_core = cosine_similarity(vectorized_data)

In [28]:
recommender_core

array([[1.        , 0.63245553, 0.28867513, ..., 0.        , 0.11785113,
        0.1118034 ],
       [0.63245553, 1.        , 0.18257419, ..., 0.        , 0.        ,
        0.        ],
       [0.28867513, 0.18257419, 1.        , ..., 0.        , 0.        ,
        0.12909944],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.11785113, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.1118034 , 0.        , 0.12909944, ..., 0.        , 0.        ,
        1.        ]])

In [40]:
df['movieId'][3500]

4784

In [41]:
df.loc[df['movieId'] == 4784, 'title']

3500    French Lieutenant's Woman, The (1981)
Name: title, dtype: object

In [93]:
sorted_list = sorted(list(enumerate(recommender_core[3819])), key= lambda x:x[1], reverse=True)
sorted_list[1:10]

[(6470, 0.7378647873726218),
 (3768, 0.7071067811865475),
 (5260, 0.6666666666666667),
 (7324, 0.6324555320336759),
 (4118, 0.6299407883487119),
 (7927, 0.6030226891555273),
 (385, 0.5892556509887895),
 (1194, 0.5892556509887895),
 (2712, 0.5892556509887895)]

In [86]:
def find_movie_info(index):
    movie_id = df['movieId'][index]
    movie_title = df.loc[df['movieId'] == movie_id, 'title'].iloc(0)[0]
    movie_genres = df.loc[df['movieId'] == movie_id, 'genres'].iloc(0)[0]
    movie_genres = movie_genres.split('|')
    
    return [movie_id, movie_title, movie_genres]

In [87]:
find_movie_info(5260)

[8636, 'Spider-Man 2 (2004)', ['Action', 'Adventure', 'Sci-Fi', 'IMAX']]

In [97]:
def suggest_movie(index):
    sorted_list = sorted(list(enumerate(recommender_core[index])), key= lambda x:x[1], reverse=True)
    sorted_list = sorted_list[1:10]
    
    similar_movies = []
    for movie in sorted_list:
        try:
            movie = find_movie_info(movie[0])
            similar_movies.append(movie)
        except:
            pass
        
    return similar_movies

In [98]:
suggest_movie(3819)

[[52722,
  'Spider-Man 3 (2007)',
  ['Action', 'Adventure', 'Sci-Fi', 'Thriller', 'IMAX']],
 [5264, 'Clockstoppers (2002)', ['Action', 'Adventure', 'Sci-Fi', 'Thriller']],
 [8636, 'Spider-Man 2 (2004)', ['Action', 'Adventure', 'Sci-Fi', 'IMAX']],
 [77561,
  'Iron Man 2 (2010)',
  ['Action', 'Adventure', 'Sci-Fi', 'Thriller', 'IMAX']],
 [5903, 'Equilibrium (2002)', ['Action', 'Sci-Fi', 'Thriller']],
 [95510,
  'Amazing Spider-Man, The (2012)',
  ['Action', 'Adventure', 'Sci-Fi', 'IMAX']],
 [442, 'Demolition Man (1993)', ['Action', 'Adventure', 'Sci-Fi']],
 [1591, 'Spawn (1997)', ['Action', 'Adventure', 'Sci-Fi', 'Thriller']],
 [3638, 'Moonraker (1979)', ['Action', 'Adventure', 'Sci-Fi', 'Thriller']]]